extends layout 

block content 
    section(class="boards")
        h2 Tableros temporales 
        div(id="boards")
            div(class="board")
                h3 Tablero diario
            div(class="board")
                h3 Tablero semanal
            div(class="board")
                h3 Tablero mensual 