extends layout 

block content
    section(class="boards")

        h2 Mis propios tableros

        div(id="boards")
            div(class="add-board board")
                <h3>Crear un nuevo tablero</h3>
                <i class="fa-solid fa-plus"></i>