extends layout 

block content
    section(class="boards")

        h2 Mis propios tableros

        div(id="boards")
            //- div(class="board")
            //-     h3 Título del tablero 
            //-     i(class="fa-solid fa-pen-to-square")
            //- div(class="board")
            //-     h3 Título del tablero 
            //-     i(class="fa-solid fa-pen-to-square")                
            //- div(class="board")
            //-     h3 Título del tablero 
            //-     i(class="fa-solid fa-pen-to-square")
            div(class="add-board board")
                <h3>Crear un nuevo tablero</h3>
                <i class="fa-solid fa-plus"></i>